body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  background-color: black;
  color: white;
}

header h1 {
  font-size: 2.5em;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center; /* Center the form elements */
  max-width: 350px; /* Adjust the width of the form */
  margin: 0 auto; /* Center the form on the page */
}

input, select, button {
  padding: 10px;
  font-size: 16px;
  width: 100%; /* Make the input, select, and button elements take the full width of the form */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button {
  cursor: pointer;
}

.small-button {
  padding: 5px 10px;
  font-size: 14px;
  width: 100px; /* Adjust the width to make the button smaller */
}

.medium-button {
  padding: 8px 15px;
  font-size: 16px;
  width: auto; /* Adjust the width to make the button medium-sized */
}

.medium-input {
  padding: 8px 15px;
  font-size: 16px;
  width: auto; /* Adjust the width to make the input medium-sized */
}

.dashboard-button {
  padding: 5px 10px;
  font-size: 14px;
  width: auto; /* Adjust the width to make the button smaller */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.dashboard-container {
  padding: 20px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.dashboard-header h2 {
  margin: 0;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard-content > div {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.expense-list {
  padding: 0;
  list-style-type: none;
}

.expense-item {
  font-size: 18px; /* Adjust the font size to make it bigger */
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.over-limit-message {
  background-color: #ffdddd;
  border-left: 6px solid #f44336;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
}

.chart-container {
  width: 400px; /* Adjust the width of the chart container */
  height: 400px; /* Adjust the height of the chart container */
  margin: 0 auto; /* Center the chart container */
}